# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Environment files
# Allowing .env to push to github for hackathon


# Vercel
.vercel/

# Build outputs
dist/
frontend/dist/
build/

# OS files
.DS_Store
Thumbs.db
